:root {
  --unesma-koloro: #3399ff;
  --duesma-koloro: #4EBC46;
  --triesma-koloro: rgba(51, 153, 255, 0.2);
  --quaresma-koloro: #70B7FF;
  --font-size: 10px;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
}

@page {
  size: 110mm 170mm;
  margin: 40px;
}

@page {
  @top-left {
    content: string(heading);
    font-size: var(--font-size);
    color: var(--quaresma-koloro);
    font-weight: bold;
    width: 100%;
    border-bottom: solid 1px rgba(51, 153, 255, 0.2);
    margin-bottom: 10px;
  }

  @bottom-center {
    content: counter(page);
    color: var(--quaresma-koloro);
    font-weight: bold;
  }
}

@page :first {
  background-color: var(--unesma-koloro);
  background-image: url("../imaji/mikra-vortaro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110mm 170mm;

  @bottom-center {
    content: none;
  }
  @top-left {
    content: none;
  }
}

@page :blank {
  @bottom-center {
    content: none;
  }
  @top-left {
    content: none;
  }
}

@page clean {
  @bottom-center {
    content: none;
  }
  @top-left {
    content: none;
  }
}

@page h1 {
  @top-left {
    content: none;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  color: var(--quaresma-koloro);
}
body {
  margin: 0;
}

h1 {
  page: h1;
  break-before: right;
  font-size: var(--h1);
  string-set: heading content();
  font-weight: normal;
  margin: auto;
  margin-bottom: 1rem;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: var(--quaresma-koloro);
}
h2 {
  font-size: var(--h2);
  font-variant: small-caps;
  font-weight: bold;
  margin: auto;
  margin-bottom: 1rem;
  padding: .5rem;
  border-bottom: solid 1px rgba(51, 153, 255, 0.7);
  text-align: center;
  color: var(--unesma-koloro);
}
h3 {
  margin-bottom: .5rem;
  font-size: var(--h3);
  color: var(--quaresma-koloro);
}
img {
  display: block;
  width: 100%;
}

#title-block-header {
  color: transparent;
}

#title-block-header > * {
  background-color: transparent;
  color: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  font-size: 10px;
}
.even {
  background-color: var(--triesma-koloro);
}
th {
  color: white;
  background-color: #70B7FF;
  font-size: 12px;
  font-weight: 400;
  font-weight: bold;
  padding-bottom: 0.25cm;
  text-transform: uppercase;
}
td:first-of-type {
  color: var(--unesma-koloro);
}
td:last-of-type {
  color: var(--duesma-koloro);
}
td,
th {
  padding: 3px;
}

nav {
  position: relative;
  margin-left: -0.5em;
  background: none;
  page: clean;
}
nav ul {
  margin-top: 0;
  margin-left: -0.5em;
  list-style-type: none;
}

nav ul li {
  margin-top: 0.75em;
  margin-bottom: 1em;
  width: 100%;
}
nav ul li a {
  border-radius: 5px;
  background-color: var(--quaresma-koloro);
  color: white;
  font-weight: bold;
  display: block;
  height: 2em;
  padding-top: 0.6em;
  padding-left: 0.6em;
  margin-left: -1.5em;
}

nav ul li a::after {
  content: target-counter(attr(href url), page, decimal);
  float: right;
  margin-right: 10px;
}
nav ul li ul {
  list-style-type: none;
  border-left-style: solid;
  border-left-width: 1px;
  border-color: var(--triesma-koloro);
  margin-top: 1.5em;
}
nav ul li ul li {
  margin-left: -0.5em;
  color: #ff0000;
}
nav ul li ul li a {
  border: none;
  background-color: white;
  color: var(--unesma-koloro);
  font-family: PlexSans;
  margin-top: -1.5em;
}
nav ul li ul li a::after {
  font-size: 0.75em;
}
nav code {
  background: none;
}
nav a {
  text-decoration: none;
  outline: none;
  color: #000;
}
